
.goods {
  transform: translate3d(0, 0, 0);
  opacity: 1;
  &.slide-fade-enter-active,&.slide-fade-leave-active {
    transition: all .5s ease;
  }
  &.slide-fade-enter,&.slide-fade-leave-to {
    transform: translate3d(100%, 0, 0);
    opacity: 0;
  }
  &.goods-no-transform {
    transform: none;
  }
  .swiper-pagination {
    text-align: right;
    padding-right: 2rem;
  }

  .goods-gallery {
    padding:10px;
    max-height: 18rem;
    overflow: hidden;
    background:#fff;
    .img-box {
      img {
        width:80%;
      }
    }
  }
  .goods-info {
    padding:0.75rem;
    background:#fff;
    .price {
      font-size: 1.25rem;
    }
    .collect {
      float: right;
      font-size: 0.875rem;
      text-align: center;
      .icon-xingxing {
        width: 2.25rem;
        height: 2.25rem;
        font-size: 1.8rem;
        display:block;
        color: #999;
      }
    }
    .goods-name {
      font-size: 1.1rem;
    }
    .info {
      font-size: 0.875rem;
      color:#999;
    }
    .goods-sales {
      //color:#333;
    }
  }
  .serve {
    background: #fff;
    ul {
      li {
        display:inline-block;
        width: 32%;
        text-align: center;
        line-height: 3rem;
        span {
          color:$main-color;
          margin-right:0.2rem;
        }
      }
    }
  }
  .goods-introduce {
    margin:10px 0;
    .title {
      background: #fff;
      padding:0.625rem 0px;
      display:table;
      width: 100%;
      li {
        width: 32.6%;
        text-align: center;
        display: table-cell;
        &.active {
          text-align: center;
          width: 100%;
        }
      }
    }
    .detail {
      background:#fff;
      &>li {
        display:none;
        min-height: 160px;
      }
      .active {
        display:list-item;
      }
      .info {
        //padding:0.75rem;
        li {
          padding-bottom: 10px;
          &:last-child {
            padding-bottom:0;
          }
        }
      }
    }
  }
  .goods-tool {
    a {
      width: 15%;
      display:inline-block;
      text-align: center;
      float:left;
      padding: 0.25rem;
      span {
        display:block;
      }
      .iconfont {
        font-size: 1.4rem;
        color:#7A7A8A;
      }
      h4 {
        font-size: 0.75rem;
        line-height: 1;
      }
    }
    .cart {
      width: 18%;
    }
    button {
      width: 52%;
      height:100%;
      display:inline-block;
      float:left;
      background: $main-color;
      color:#fff;
    }
    .btn-buy {
      display:none;
    }
  }

}
